$nicaraguablue: hsl(209, 100%, 39%);
$nicaraguawhite: hsl(60, 100%, 99%);
$nicaraguagold: hsl(49, 100%, 39%);

body{
	background: #ffffff;
	color: hsl(49, 100%, 39%);
}

p{
	margin-top: 2em;
	margin-bottom: 2em;
	line-height: 1.6em;
	font-size: 20px;
}

.btn{
	background: hsl(209, 100%, 39%);
	color: hsl(49, 100%, 50%);
	&:hover{
		background: hsl(49, 100%, 39%);
	}
	&:active{
		background: hsl(209, 100%, 39%);
		color: hsl(49, 100%, 50%);
	}
	&:focus{
		background: hsl(209, 100%, 39%);
		color: hsl(49, 100%, 50%);
	}
}

.jumbotron {
    position: relative;
    background: url("../img/nicaragua_flag.png") center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    p{
    	color: hsl(49, 100%, 39%);
    }
}